<% content_for :title do %>
All Repair Requests
<% end %>

<table>
  <thead>
    <tr>
      <th>Open date</th>
      <th>Close date</th>
      <th>Request details</th>
      <th>Request response</th>
      <th>Submitter</th>
      <th>Responder</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repair_requests.each do |repair_request| %>
      <tr>
        <td><%= repair_request.open_date %></td>
        <td><%= repair_request.close_date %></td>
        <td><%= repair_request.request_details %></td>
        <td><%= repair_request.request_response %></td>

        <% if current_user && (current_user.has_role? :manager) %>
        <td><%= repair_request.submitter.username %></td>

        <% if repair_request.responder_id.nil? %>
        <%= repair_request.responder %>
        <% else %>
        <td><%= repair_request.responder.username %></td>
        <% end %>

        <% else (current_user.has_role? :renter) %>
        <td><%= current_user.username %></td>

        <% if repair_request.responder_id.nil? %>
        <%= repair_request.responder %>
        <% else %>
        <td><%= repair_request.responder.username %></td>
        <% end %>
        <% end %>

        <% if can? :read, repair_request %>
        <td><%= link_to 'Show', repair_request %></td>
        <% end %>

        <% if can? :manage, repair_request %>
        <td><%= link_to 'Edit', edit_repair_request_path(repair_request) %></td>
        <td><%= link_to 'Destroy', repair_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
  <% if current_user.has_role? :renter %>
  <%= link_to 'New Repair request', new_repair_request_path %>
  <% end %>
<% end %>
